<!-- Dependency resources -->
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<!-- Added Web Component dependencies to make Vaadin Designer preview work -->
<link rel="import" href="../bower_components/vaadin-text-field/src/vaadin-text-field.html">
<link rel="import" href="../../bower_components/vaadin-button/src/vaadin-button.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/vaadin-lumo-styles/badge.html">
<!-- TODO Needed to show icons in Vaadin Designer preview mode for now, but can be removed soon -->
<link rel="import" href="../bower_components/vaadin-lumo-styles/icons.html">

<link rel="import" href="../bower_components/vaadin-list-box/vaadin-list-box.html">

<dom-module id="calculator-view">
    <template>

    </template>

    <script>
        class CalculatorView extends Polymer.Element {
            static get is() {
                return 'calculator-view'
            }

            _isEmpty(array) {
                return array.length == 0;
            }
        }
        customElements.define(WorkloadView.is, WorkloadView);
    </script>
</dom-module>

<custom-style>
    <style include="calculator-view" >
        .coef-combo-list {
            width: 220%;
            /*display: inline-block;
            float: left;*/
        }

        .formula {
            width: 100%;

        }

        .calc-header {

        }

        body {
            background-color: white;
        }
    </style>
</custom-style>

