
<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/vaadin-button/vaadin-button.html">
<link rel="import" href="../bower_components/vaadin-text-field/vaadin-text-field.html">
<link rel="import" href="../bower_components/vaadin-icons/vaadin-icons.html">
<link rel="import" href="../bower_components/vaadin-text-field/vaadin-text-field.html">
<link rel="import" href="../bower_components/vaadin-split-layout/vaadin-split-layout.html">

<link rel="import" href="../bower_components/vaadin-icons/vaadin-icons.html">
<link rel="import" href="../bower_components/vaadin-list-box/vaadin-list-box.html">

<link rel="import" href="../bower_components/vaadin-text-field/vaadin-text-field.html">
<link rel="import" href="../bower_components/vaadin-progress-bar/vaadin-progress-bar.html">

<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid.html">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>


<dom-module id="x-remote-data-example">
    <style>
        #x-remote-data-example {
            width: 10px;

        }



    </style>
    <template >
        <div id="depart">
            <vaadin-grid data-provider="[[dataProvider]]" size="[[size]]" column-reordering-allowed resizable width="100px">
                <vaadin-grid-column >
                    <template>
                        <div style="text-align: right; width: 10px" >
                            <vaadin-button id="edit-button" hidden="[[editing]]" on-click="_edit" focus-target$="[[!editing]]" theme="icon" aria-label="Edit"><iron-icon icon="lumo:edit"></iron-icon></vaadin-button>
                            <vaadin-button hidden="[[editing]]" on-click="_remove" theme="icon error" aria-label="Delete"><iron-icon icon="lumo:cross"></iron-icon></vaadin-button>
                            <vaadin-button hidden="[[!_isEditing(editing, item)]]" on-click="_save" focus-target$="[[editing]]" theme="primary">Save</vaadin-button>
                            <vaadin-button hidden="[[!_isEditing(editing, item)]]" on-click="_cancel">Cancel</vaadin-button>
                        </div>
                    </template>
                </vaadin-grid-column>
                <vaadin-grid-column width="60px" flex-grow="0">
                    <template class="header">#</template>
                    <template>[[index]]</template>
                </vaadin-grid-column>

                <vaadin-grid-column>
                    <template class="header">Название факультета</template>
                    <template>[[item.shortName]]</template>
                </vaadin-grid-column>

                <vaadin-grid-column>
                    <template class="header">Название Кафедры</template>
                    <template>[[item.fullName]]</template>
                </vaadin-grid-column>

            </vaadin-grid>
        </div>

    </template>
    <script>
        window.addEventListener('WebComponentsReady', function() {
            Polymer({
                is: 'x-remote-data-example',

                ready: function() {
                    this.size = 10;
                    this.dataProvider = function(params, callback) {
                        var url = 'http://localhost:8080/api/departments' +
                            '?page=' + params.page +        // the requested page index
                            '&per_page=' + params.pageSize; // number of items on the page
                        var xhr = new XMLHttpRequest();
                        xhr.onload = function() {
                            var response = JSON.parse(xhr.responseText);
                            callback(
                                response, // requested page of items
                                response.length  // total number of items
                            );
                        };
                        xhr.open('GET', url, true);
                        xhr.send();

                    };
                }

            });
        });
    </script>
</dom-module>

