
<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/vaadin-button/vaadin-button.html">
<link rel="import" href="../bower_components/vaadin-text-field/vaadin-text-field.html">
<link rel="import" href="../bower_components/vaadin-icons/vaadin-icons.html">
<link rel="import" href="../bower_components/vaadin-text-field/vaadin-text-field.html">
<link rel="import" href="../bower_components/vaadin-split-layout/vaadin-split-layout.html">

<link rel="import" href="../bower_components/vaadin-icons/vaadin-icons.html">
<link rel="import" href="../bower_components/vaadin-list-box/vaadin-list-box.html">

<link rel="import" href="../bower_components/vaadin-text-field/vaadin-text-field.html">
<link rel="import" href="../bower_components/vaadin-progress-bar/vaadin-progress-bar.html">

<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid.html">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>


<dom-module id="login-view">
    <style>
    </style>
    <template >
        <div id="main">
            <vaadin-text-field id="userName" label="Login"></vaadin-text-field>
            <vaadin-text-field id="pass" label="Password"></vaadin-text-field>
            <vaadin-button id="submit"></vaadin-button>
        </div>

    </template>
    <script>

    </script>
</dom-module>

