<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../components/app-navigation.html">
<link rel="import" href="../components/BreadCrumbs.html">

<link rel="import" href="../bower_components/vaadin-list-box/vaadin-list-box.html">

<link rel="import" href="../bower_components/vaadin-context-menu/vaadin-context-menu.html">
<link rel="import" href="../bower_components/vaadin-list-box/vaadin-list-box.html">
<link rel="import" href="../bower_components/vaadin-dropdown-menu/vaadin-dropdown-menu.html">
<script src="@vaadin/vaadin-dropdown-menu/vaadin-dropdown-menu.js"></script>


<dom-module id="main-view">
    <template>
        <style>

            #root{
                height: 100%;
                display: flex;
                flex-direction: row;
            }
            #menu{
                width: 15%;
                display: block;
                background: var(--lumo-contrast);
                color: var(--lumo-primary-text-color);
            }
            #content{
                margin: auto;
                margin-top: 0px;
                width: 100%;
            }
            a:visited{
                /*color: transparent;*/
            }
            a:active{
                color: var(--lumo-success-color);
            }
            a{
                color: var(--lumo-primary-text-color);
                text-decoration: none;

            }
            #list {
                width: 100%;
            }

            #user-icon {
                display: block;
                margin-left: auto;
                margin-right:auto;
            }

            #userInfo {
                margin-top: 5px;
                text-align: center;
            }

            #menu-header {
                background-color: var(--lumo-primary-text-color);
                color: white;
                height: 50px;
                width: 100%;
            }
            .inner {
                position: relative;
                text-align: center;
                font-size: 24px;
                margin: 0;
                top: 20%;
            }
        </style>
        <div id="root">
            <div id="menu">
                <div id="menu-header">
                    <p class="inner">Главное меню</p>
                </div>
                <div id="userInfo">
                    <iron-icon id="user-icon" icon="vaadin:user"></iron-icon>
                    <span>{{userName}}</span>
                    <hr>
                </div>

                <vaadin-list-box id="list">
                    <vaadin-item><a href="/calc">Калькулятор</a></vaadin-item>
                    <vaadin-item><a href="">Общая нагрузка</a></vaadin-item>
                    <vaadin-item><a href="">Нагрузка преподавателя</a></vaadin-item>

                    <hr>
                    <b>Справочники</b>
                    <vaadin-item><a href="/depart">Кафедры</a></vaadin-item>
                    <vaadin-item><a href="/calc">Дисциплины</a></vaadin-item>
                    <vaadin-item><a href="/calc">Факультеты</a></vaadin-item>
                    <vaadin-item><a href="/calc">Группы</a></vaadin-item>
                    <vaadin-item><a href="/calc">Специальности</a></vaadin-item>
                    <vaadin-item><a href="/teacher">Преподаватели</a></vaadin-item>
                    <vaadin-item><a href="/calc">Должности</a></vaadin-item>
                    <vaadin-item><a href="/calc">Совместительство</a></vaadin-item>
                    <vaadin-item><a href="/calc">Коэффициенты</a></vaadin-item>
                    <vaadin-item><a href="/calc">Формулы</a></vaadin-item>
                </vaadin-list-box>
            </div>
            <div id="content">
                <slot></slot>
            </div>
        </div>
    </template>
    <script>
        window.onload = function(){
            document.body.setAttribute("theme","dark");
        }


        class MainLayout extends Polymer.Element{
            static get is() { return 'main-view'; }
            static get properties() {
                return {

                }
            }
            _isEmpty(array) {
                return array.length == 0;
            }
        }
        window.customElements.define(MainLayout.is,MainLayout);

    </script>
</dom-module>
