<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/vaadin-text-field/src/vaadin-text-field.html">
<link rel="import" href="../bower_components/vaadin-button/src/vaadin-button.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/vaadin-lumo-styles/badge.html">
<link rel="import" href="../bower_components/vaadin-lumo-styles/icons.html">
<link rel="import" href="../bower_components/vaadin-list-box/vaadin-list-box.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid-selection-column.html">
<link rel="import" href="../bower_components/vaadin-dropdown-menu/vaadin-dropdown-menu.html">
<link rel="import" href="../bower_components/promise-polyfill/promise-polyfill-lite.html">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

<dom-module id="workload-view">
    <template>
        <style>
        h3{
            text-align: center;
        }
            #main {
                margin-right: auto;
                margin-left: 10px;
            }

            vaadin-grid {
                width: 100%;
            }
        </style>
        <div id="main">
            <h3>{{titleUniver}}</h3>
            <h3>{{titileSecondary}}</h3>
            <h3>{{titleKaf}}</h3>
            <vaadin-button id="createExcelFile">Создать Excel-файл</vaadin-button>

            <vaadin-grid id="grid" aria-label="Multi-Selection" column-reordering-allowed resizable>
                <vaadin-grid-column width="130px">
                    <template>
                        <div style="text-align: right;">
                            <vaadin-button id="edit-button" hidden="[[editing]]" on-click="_edit" focus-target$="[[!editing]]" theme="icon" aria-label="Edit"><iron-icon icon="lumo:edit"></iron-icon></vaadin-button>
                            <vaadin-button hidden="[[editing]]" on-click="_remove" theme="icon error" aria-label="Delete"><iron-icon icon="lumo:cross"></iron-icon></vaadin-button>
                            <vaadin-button hidden="[[!_isEditing(editing, item)]]" on-click="_save" focus-target$="[[editing]]" theme="primary">Save</vaadin-button>
                            <vaadin-button hidden="[[!_isEditing(editing, item)]]" on-click="_cancel">Cancel</vaadin-button>
                        </div>
                    </template>
                </vaadin-grid-column>
            </vaadin-grid>

            <vaadin-combo-box label="Выберите что то" id="myCombobox" required error-message="Выберите элемент"></vaadin-combo-box>

        <vaadin-button id="get_btn">Send requst</vaadin-button>
            <div id="result">
SYKA
            </div>
        </div>
            </template>

    <script>

        class WorkloadView extends Polymer.Element {
            static get is() {
                return 'workload-view'
            }

            static get properties() {
                return {

                }
                }
            _isEmpty(array) {
                return array.length == 0;
            }
        }
        window.customElements.define(WorkloadView.is, WorkloadView);
    </script>
</dom-module>

