<!--
  ~ Copyright 2000-2017 Vaadin Ltd.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License"); you may not
  ~ use this file except in compliance with the License. You may obtain a copy of
  ~ the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
  ~ WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
  ~ License for the specific language governing permissions and limitations under
  ~ the License.
  -->

<!-- Adding Valo theme for vaadin-button -->
<link rel="import" href="bower_components/vaadin-valo-theme/vaadin-button.html">
<link rel="import" href="bower_components/vaadin-valo-theme/vaadin-grid.html">
<link rel="import" href="bower_components/vaadin-valo-theme/vaadin-text-field.html">

<custom-style>
    <!-- This is where your App's styling should go. You can use .css files too. -->
    <style>
        html {
            height: auto;
        }
    </style>
</custom-style>
